.material-icons {
    cursor: pointer;
}

.material-icons.green-300 {
    color: $green-300 !important;
}

.list {
    margin-top: 48px;
    width: 100%;
    border-collapse: collapse;
    thead {
        border-bottom: 1px solid black;
    }
    th {
        font-weight: bold;
        text-align: left;
    }
    tr {
        line-height: 23px;
        text-align: left;
    }
    td {
        line-height: 51.2px;
    }
    tr + tr {
        border-top: 1px solid $green-200;
    }
    span + span {
        margin-left: 25px;
    }
    .id {
        max-width: 120px;
    }
    .name {
        max-width: 150px;
    }
    .email {
        max-width: 350px;
    }
    .verified {
        max-width: 170px;
    }
}

.paging {
    display: flex;
    align-items: center;
    margin-top: 63px;
    float: right;
    .page-no {
        border: $green-300 solid 1px;
        padding: 6px 12.5px;
        span, a {
            line-height: 1.25;
            text-decoration: none;
            color: black;
        }
    }
    .active {
        background-color: $green-300;
        a {
            color: white;
        }
    }
}