/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.material-icons {
  cursor: pointer;
}

.material-icons.green-300 {
  color: #2A8356 !important;
}

.list {
  margin-top: 48px;
  width: 100%;
  border-collapse: collapse;
}

.list thead {
  border-bottom: 1px solid black;
}

.list th {
  font-weight: bold;
  text-align: left;
}

.list tr {
  line-height: 23px;
  text-align: left;
}

.list td {
  line-height: 51.2px;
}

.list tr + tr {
  border-top: 1px solid #CDDDCD;
}

.list span + span {
  margin-left: 25px;
}

.list .id {
  max-width: 120px;
}

.list .name {
  max-width: 150px;
}

.list .email {
  max-width: 350px;
}

.list .verified {
  max-width: 170px;
}

.paging {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 63px;
  float: right;
}

.paging .page-no {
  border: #2A8356 solid 1px;
  padding: 6px 12.5px;
}

.paging .page-no span, .paging .page-no a {
  line-height: 1.25;
  text-decoration: none;
  color: black;
}

.paging .active {
  background-color: #2A8356;
}

.paging .active a {
  color: white;
}

.sider {
  position: fixed;
  width: 232px;
  height: 100%;
  background-color: #EDF4EE;
  padding: 32px;
}

.sider .page-list {
  margin-top: 32px;
}

.sider .page-list .page-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.sider .page-list .page-element span + span {
  margin-left: 16px;
}

.sider .page-list .page-element:hover {
  color: #0000009A;
}

.sider .page-list .page-element + .page-element {
  margin-top: 29px;
}

.sider .user {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 32px;
}

.sider .user .avator {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.sider .user .user-info {
  margin-left: 16px;
}

.sider .user .user-info .username {
  font-weight: bold;
}

.sider .user .user-info p + p {
  margin-top: 4px;
}

.layout {
  margin-left: 296px;
  padding: 32px;
}

.layout .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout .nav .page-name {
  font-size: 32px;
  font-weight: bold;
}

.layout .nav .add-admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 47px;
  cursor: pointer;
}

.layout .nav .add-admin span + span {
  margin-left: 8px;
}

.layout .nav .add-admin:hover {
  color: #0000009A;
}

.layout .nav .nav-list {
  position: fixed;
  right: 32px;
}

.layout .nav .nav-list .nav-element {
  display: inline-block;
}

.layout .nav .nav-list .nav-element + .nav-element {
  margin-left: 24px;
}
/*# sourceMappingURL=all.css.map */